/* задаем шрифт для всех элементов */
* {
    font-family: "Roboto";
}

/* отступ у тела странички (от края окна) будет 0 */
body {
    margin: 0;
}

/* задаем стиль для надписи */
.descriptionText {
    position: absolute;
	text-align: center;
	z-index: 100;
	display:block;
    background-color: white;
}